// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1216;
$containerPadding: 224;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1280: 1279.98 + px;
$breakpoint1024: 1023.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint620: 619.98 + px;
$breakpoint320: 319.98 + px;

